# Xcode
**/.DS_Store
*.xcuserstate
*.xcuserdata
*.xcuserstate
*.xcscheme
*.xcschemes
*.xccheckout
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

bambinaut-foundation-ios/bambinaut-foundation-ios.xcodeproj/
